// Strart header
header
  .header__area_top
    .container
      .row.align-items-center
        .col-lg-12
          ul.list-unstyled
            li: a(href='#', class='capitalize')
              | phone: 
              span +2 01002863209
            li: a(href='#', class='capitalize')
              | email: 
              span.lower mohamed@gmail.com
            li: a(href='#', class='capitalize last')
              | free consultation
  .header__area_bottom
    .container
      .row.align-items-center
        .col-lg-3
          .logo_brand
            a(href='#')
              img(src='dist/images/logo/logo_3.png')
        .col-lg-9
          .nav_links.d-none.d-lg-block
            nav
              ul.list-unstyled
                li
                  a(href='#', class='capitalize active') home
                    i.fa.fa-angle-down
                  ul.list-unstyled.dropdown
                    li: a(href='#', class='nav-link capitalize') home 1
                    li: a(href='#', class='nav-link capitalize') home 2
                    li: a(href='#', class='nav-link capitalize') home 3
                li
                  a(href='#', class='capitalize') about
                    i.fa.fa-angle-down
                li
                  a(href='#', class='capitalize') practice area
                    i.fa.fa-angle-down 
                li
                  a(href='#', class='capitalize') attornys
                    i.fa.fa-angle-down
                li
                  a(href='#', class='capitalize') blog
                    i.fa.fa-angle-down
                li
                  a(href='#', class='capitalize') pages
                    i.fa.fa-angle-down
                li
                  a(href='#', class='capitalize') contact us
                    i.fa.fa-angle-down
        .col-12
          .mobile_menu.d-block.d-lg-none
// End header
