// Strart header
header
  .header__area_top
    .container
      .row.align-items-center
        .col-lg-12
          ul.list-unstyled
            li: a(href='#', class='capitalize')
              | phone: 
              span +2 01002863209
            li: a(href='#', class='capitalize')
              | email: 
              span.lower mohamed@gmail.com
            li: a(href='#', class='capitalize last')
              | free consultation
  .header__area_bottom
    .container
      .row.align-items-center
        .col-2
          .logo_brand
            a(href='#', class='navbar-brand')
              img(src='dist/images/logo/logo_3.png')
        .col-lg-9
          .nav_links.d-none.d-lg-block
            nav
              ul.list-unstyled
                li: a(href='#', class='capitalize active') home
                li: a(href='#', class='capitalize') about
                li: a(href='#', class='capitalize') practice area
                li: a(href='#', class='capitalize') attornys
                li: a(href='#', class='capitalize') blog
                li: a(href='#', class='capitalize') pages
                li: a(href='#', class='capitalize') contact us
        .col-lg-1
          .search_box
            i.fa.fa-search
// End header
