header.header_area
  .container
    .row.align-items-center
      .col-lg-3
        .header_area_logo
          a(href='#' class='brand')
            img(src='dist/images/banner/law.png')
      .col-lg-9
        .header_area_nav
          ul.list-unstyled
            li: a(href='#', class='capitalize active') home
            li: a(href='#', class='capitalize') about
            li: a(href='#', class='capitalize') practice area
            li: a(href='#', class='capitalize') blog
            li: a(href='#', class='capitalize') clients
            li: a(href='#', class='capitalize') resent case
            li: a(href='#', class='capitalize') git appointment
            li: a(href='#', class='capitalize') contact
