.preloader
  .preloader__son
    .preloader__son_child.child_1
    .preloader__son_child.child_2
    .preloader__son_child.child_3
    .preloader__son_child.child_4
    .preloader__son_child.child_5
    .preloader__son_child.child_6
    .preloader__son_child.child_7
    .preloader__son_child.child_8
    .preloader__son_child.child_9
