// Start preloader
.loader
  .loader__head
    img(src='dist/images/preloader/preloader.png')
    .dots
      span: span.dot_1
      span: span.dot_2
      span: span.dot_3
      span: span.dot_4
      span: span.dot_5
// End preloader
