.header_area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #eeeeee29;
  .header_area_logo{
    width: 50px;
    a{
      display: inline-block;
      img{
        width: 100%;
      }
    }
  }
  .header_area_nav{
    text-align: right;
    &.second{
      text-align: right;
    }
    ul{
      li{
        display: inline-block;
        padding: 0 10px;
        line-height: 70px;
        font-size: 14px;
        letter-spacing: 2px;
        a{
          color: #fff;
          display: inline-block;
          line-height: 70px;
          position: relative;
          transition: all .5s;
          &.active, &:hover{
            color: #fe543d;
            &::after{
              content: '';
              border: 1px solid #fe543d;
              position: absolute;
              left: 0;
              bottom: -11px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
