header{
  .header__area_top{
    text-align: right;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #f1f1f1;
    @media(min-width: 320px) and (max-width: 767px) {
      text-align: center;
    }
    ul{
      li{
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid #ddd;
        font-size: 14px;
        &:first-of-type{
          padding-left: 0;
        }
        &:last-of-type{
          padding-right: 0;
          border: none;
        }
        a{
          color: #252525;
          // font-size: 14px;
          &.last{
            color: #d5aa6d;
          }
          span{
            color: #bfbfbf;
            // font-size: 13px;
          }
        }
        @media(min-width: 320px) and (max-width: 767px) {
          border: none;
          line-height: 26px;
          display: block;
        }
      }
    }
  }
  .header__area_bottom{
    @media(min-width: 320px) {
      padding: 10px 0;
    }
    .logo_brand{
      a.navbar-brand{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
    .nav_links{
      text-align: right;
      nav{
        ul{
          li{
            display: inline-block;
            padding: 0 10px;
            position: relative;
            @media(min-width: 992px) {
              padding: 0 7px;
            }
            &:hover ul.dropdown{
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
            a{
              color: #252525;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 1px;
              display: inline-block;
              line-height: 80px;
              position: relative;
              transition: all .5s;
              &:hover{
                color: #d5aa6d;
                @extend .active;
              }
              &.active{
                color: #d5aa6d;
              }
              &.active::after{
                color: #d5aa6d;
                content: '';
                position: absolute;
                bottom: 27px;
                left: 0;
                height: 1px;
                width: 20px;
                background-color: #d5aa6d;
              }
              i{
                margin-left: 5px;
                // display: none;
              }
            }
            > ul.dropdown{
              position: absolute;
              width: 200px;
              text-align: left;
              z-index: 100;
              background: #fff;
              opacity: 0;
              visibility: hidden;
              transition: all .5s;
              transform: translateY(28px);
              &::before{
                content: '';
                position: absolute;
                top: -13px;
                left: 6px;
                height: 1px;
                background-color: #d5aa6d;
                width: 30px;
                transform: rotate(90deg);
              }
              > li{
                display: block;
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid #f1f1f1;
                > a{
                  line-height: 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .mobile_menu{
      position: absolute;
      width: 100%;
      z-index: 9;
      right: 0;
      .slicknav_menu{
        margin: 0;
        padding: 0;
        background: transparent;
        .slicknav_btn{
          background-color: transparent;
          cursor: pointer;
          margin-bottom: 10px;
          position: relative;
          z-index: 99;
          border: none;
          border-radius: 3px;
          top: 5px;
          padding: 5px;
          right: 10px;
          margin-top: -5px;
          top: -37px
        }
        .slicknav_nav{
          background: #fff;
          float: right;
          width: 95%;
          padding: 0;
          border-radius: 0px;
          margin-top: 5px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 0;
           > ul{
            margin: 0;
            li{
              border-bottom: 1px solid #f1f1f1;
              &:last-of-type{
                border: none;
              }
              a{
                color: #252525;
                background: transparent;
              }
            }
          }
          .slicknav_arrow{
            float: right;
            font-size: 17px;
            font-weight: bold;
            position: relative;
            top: -7px;
          }
          i{
            display: none;
          }
        }
        .slicknav_icon-bar{
          width: 30px;
          height: 3px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
