link(rel='stylesheet', href='https://fonts,googleapis.com/css2?family=Open+Sana:wght@300&display=swap')
// Font awesome libarary
link(rel='stylesheet', href='dist/css/font-awesome.min.css')
// Font awesome
// Bootstrap libarary
link(rel='stylesheet', href='dist/css/bootstrap.min.css')
// End bootstrap libarary
// Owl carousel plugin
link(rel='stylesheet', href='dist/css/owl.carousel.min.css')
link(rel='stylesheet', href='dist/css/owl.theme.default.min.css')  
// End Owl carousel
// slick nav
link(rel='stylesheet', href='dist/css/slicknav.min.css')
// slick nav
// Start ainmate
link(rel='stylesheet', href='dist/css/ainmate.css')
// End ainmate
// Main stylesheet
link(rel='stylesheet', href='dist/css/main.css')
// End main
