doctype html
html
  head
    include pug/meta-head/meta
    title News & Magazeen
    include pug/css-links/links
  body
    include pug/layout/preloader
    include pug/layout/search-box
    include pug/layout/header
    include pug/banner/banner
    include pug/js-links/links
