section.banner
  .banner_slider.owl-carousel
    .banner_slider_img.d-flex.align-items-center(style='background-image: url(dist/images/banner/banner-4.jpg)')
      .overlay
      .container
        .row
          .col-lg-6
            .banner_slider_title
              h1.capitalize we are fight for you as like a 
                span firend
          .col-lg-6
            .banner_slider_contact
              form
                input(type='text', placeholder='Name')
                input(type='text', placeholder='Email', class='m-l')
                input(type='text', placeholder='Phone')
                input(type='text', placeholder='city', class='m-l')
                button(class='btn capitalize') free consultation 
                
