// Start slider
section
  //- .overlay
  .section_area.owl-carousel
    .section_area_banner(class='d-flex align-items-center',style="background-image: url('dist/images/banner/banner-3.jpg')")
      .container
        .section_area_content
          h1.capitalize.wow.fadeInUp 
           | we are fight justice
           br
           | as like a 
           span friend
          .buttons
            button(type='button', class='btn'): a(href='#', class='capitalize') contact us
            button(type='button', class='btn'): a(href='#', class='capitalize') free consultation
    .section_area_banner(class='d-flex align-items-center',style="background-image: url('dist/images/banner/banner-2.jpg')")
      .container
        .section_area_content
          h1.capitalize.wow.fadeInUp 
           | we are fight justice
           br
           | as like a 
           span friend
          .buttons
            button(type='button', class='btn'): a(href='#', class='capitalize') contact us
            button(type='button', class='btn'): a(href='#', class='capitalize') free consultation

// End slider
