// Start banner
section
  .overlay
  .banner_area.d-flex.align-items-center
    .container
      .row
        .col
          .banner_area_title
            h1.capitalize 
              | we are fight for justice 
              br
              | as alike a 
              span friend
// End banner
