script(src='dist/js/jquery-3.4.1.min.js')
script(src='dist/js/jquery.slicknav.min.js')
script(src='dist/js/jquery.nicescroll.min.js')
script(src='dist/js/owl.carousel.min.js')
script(src='dist/js/popper.min.js')
script(src='dist/js/bootstrap.min.js')
script(src='dist/js/main.js')
script(src='http://localhost:35729/livereload.js')
